<div class="container-fluid main">
    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <p>Η σελίδα των fans της καλύτερης (αντικειμενικά) ομάδας του Basketaki.</p>
        <h2>ΣΠΛΗΝΑΝΤΕΡ ΚΟΝΣΤΡΑΞΙΟ</h2>
    </div>

    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <h2>ΕΠΟΜΕΝΟΣ ΑΓΩΝΑΣ</h2>
        {{#if nextGame}}
        <div class="row align-items-center" id="nextGameLine">
            <span class="text-start text-md-end col-md text-nowrap">
                <img src="{{nextGame.teams.team1Logo}}" alt="team1 logo" class="teamlogo" id="team1Logo">
                <span class="teamName" id="team1">{{nextGame.teams.team1}}</span>
            </span>
            <span class="col col-md-1">-</span>
            <span class="text-end text-md-start col-md text-nowrap">
                <span class="teamName" id="team2">{{nextGame.teams.team2}}</span>
                <img src="{{nextGame.teams.team2Logo}}" alt="team2 logo" class="teamlogo" id="team2Logo">
            </span>
        </div>

        <p id="nextGameDate">{{nextGame.date}}</p>
        <a id="nextGamePlace" href={{nextGame.placeLink}}>{{nextGame.place}}</a>
        {{/if}}
        {{#unless nextGame}}
            Δεν βρέθηκε αγώνας!
        {{/unless}}
    </div>

    <div class="container-xxl main-element my-1 py-2">
        <img src="/imgs/BBBS.png" alt="g91" class="img-fluid" loading="lazy">
    </div>
    <div class="container-xxl main-element bg-dark main-card p-5">
        <p>Η ομάδα ιδρύθηκε το καλοκαίρι του 2022, και έκανε την πρώτη της επίσημη εμφάνιση τον Σεπτέμβριο του ίδιου χρόνου, στο τουρνουά <a href="https://backinthegame.gr">BIG</a>. Συμμετείχε στην κατηγορία League 1 της διοργάνωσης, και κατάφερε να κερδίσει το τρόπαιο στην παρθενική της χρονιά. Την επόμενη χρονιά ανέβηκε στην κατηγορία Elite της ίδιας
        διοργάνωσης, όπου κέρδισε μόνο τις εντυπώσεις.</p>
        <p>Στην συνέχεια αγωνίστηκε στην κατηγορία Evolution της διοργάνωσης <a href="https://www.basketaki.com/">Basketaki</a>, όπου και πέτυχε την άνοδό της στην κατηγορία <a href="https://www.basketaki.com/teams/barboutia/standings">Master</a>.</p>
        <p>Στόχος μας δεν είναι οι νίκες, αλλά το καλό μπάσκετ, η παρέα, και τα καραγκιοζηλίκια. Α, και οι νίκες.</p>
    </div>
    <div class="container-xxl main-element my-1 py-2">
        <div class="row">
            <img src="/imgs/basketaki.jpg" alt="Basketaki" class="img-fluid col" loading="lazy">
            <img src="/imgs/kiousis.png" alt="Kiousis" class="img-fluid col" loading="lazy">
        </div>
    </div>
</div>