<div class="container-fluid main">
    <div class="container-xxl main-element bg-secondary main-card my-1 py-2">
        <a href="https://www.basketaki.com/teams/barboutia/standings">Βαθμολογία Ομίλου</a>
    </div>
    <div class="container-fluid main p-0">
        <div class="container-xxl main-element bg-dark main-card my-1 p-0">
            {{#if standingsTable}}
                <div class="table-responsive container-xxl main-element">
                    <table class="table table-sm table-hover table-dark align-middle table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" colspan="2">Ομάδα</th>
                                <th scope="col">Βαθμοί</th>
                                <th scope="col">Διαφορά</th>
                                <th scope="col">Παιχν.</th>
                                <th scope="col">Νίκες.</th>
                                <th scope="col">Ήττες</th>
                                <th scope="col">+</th>
                                <th scope="col">-</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each standingsTable}}
                            <tr class="h-100">
                                <th scope="row">{{this.position}}</th>
                                <td><img src="{{this.teamLogo}}" class="img-fluid float-end" style="max-width: 2rem;" alt="{{this.teamName}} Logo"></td>
                                <td>{{this.teamName}}</td>
                                <td>{{this.points}}</td>
                                <td>{{this.pointsDiff}}</td>
                                <td>{{this.gamesPlayed}}</td>
                                <td>{{this.wins}}</td>
                                <td>{{this.losses}}</td>
                                <td>{{this.pointsFor}}</td>
                                <td>{{this.pointsAgainst}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
            {{#unless standingsTable}}
                Δεν βρέθηκε βαθμολογία!
            {{/unless}}
        </div>
    </div>
    <div class="container-xxl main-element bg-secondary main-card my-1 py-2">
        <a href="https://www.basketaki.com/tournaments/winter-master-league-25-26/standings">Βαθμολογία Κατηγορίας και Κανονισμοί</a>
    </div>
</div>